/* line 17, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/toast.sass */
* {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/toast.sass */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  padding: 0 1.5rem;
}

/* line 15, ../sass/toast.sass */
.grid {
  margin-left: -3%;
  max-width: 105%;
}

/* line 19, ../sass/toast.sass */
.unit {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  margin-left: 3%;
  margin-right: -0.25em;
  overflow: hidden;
  *overflow: visible;
}
/* line 29, ../sass/toast.sass */
.unit.demo {
  background-color: #fff8eb;
  height: 48px;
  height: 3rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 36, ../sass/toast.sass */
.span-grid {
  width: 97%;
}

/* line 39, ../sass/toast.sass */
.one-of-two {
  width: 47%;
}

/* line 42, ../sass/toast.sass */
.one-of-three {
  width: 30.36%;
}

/* line 45, ../sass/toast.sass */
.two-of-three {
  width: 63.66667%;
}

/* line 48, ../sass/toast.sass */
.one-of-four {
  width: 22.05%;
}

/* line 51, ../sass/toast.sass */
.three-of-four {
  width: 72%;
}

/* line 54, ../sass/toast.sass */
.one-of-five {
  width: 17.01%;
}

/* line 57, ../sass/toast.sass */
.two-of-five {
  width: 37%;
}

/* line 60, ../sass/toast.sass */
.three-of-five {
  width: 57%;
}

/* line 63, ../sass/toast.sass */
.four-of-five {
  width: 77%;
}

@media screen and (max-width: 650px) {
  /* line 67, ../sass/toast.sass */
  .grid {
    margin-left: 0;
    max-width: none;
  }

  /* line 70, ../sass/toast.sass */
  .unit {
    width: auto;
    margin-left: 0;
    display: block;
  }
}
/* line 75, ../sass/toast.sass */
p, .p, ul, ol, hr, table, form, pre, h1, .alpha, h2, .beta {
  margin-bottom: 30px;
  margin-bottom: 1.5rem;
}

/* line 79, ../sass/toast.sass */
h1, .alpha {
  font-size: 60px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

/* line 85, ../sass/toast.sass */
h2, .beta {
  font-size: 30px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2;
}

/* line 91, ../sass/toast.sass */
h3, .gamma {
  font-size: 20px;
  font-size: 1rem;
  font-weight: 700;
}

/* line 96, ../sass/toast.sass */
hr {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: -1px;
}

/* line 101, ../sass/toast.sass */
html {
  font: 125%/1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 650px) {
  /* line 105, ../sass/toast.sass */
  html {
    font-size: 100%;
  }
}
/* line 21, ../sass/screen.sass */
.logo {
  height: 90%;
  width: 90%;
}
@media (max-width: 1000px) {
  /* line 21, ../sass/screen.sass */
  .logo {
    padding-top: 30px;
  }
}
@media (max-width: 650px) {
  /* line 21, ../sass/screen.sass */
  .logo {
    height: 20%;
    margin-top: -50px;
    padding-top: 0;
    position: relative;
    right: 0;
    top: 0;
    width: 20%;
    z-index: 4;
  }
}

/* line 36, ../sass/screen.sass */
.title {
  font-size: 180px;
  letter-spacing: 4px;
  padding-top: 100px;
}
@media (max-width: 1180px) {
  /* line 36, ../sass/screen.sass */
  .title {
    font-size: 120px;
    padding-top: 120px;
  }
}
@media (max-width: 830px) {
  /* line 36, ../sass/screen.sass */
  .title {
    font-size: 80px;
    letter-spacing: 2px;
    padding-top: 100px;
  }
}
@media (max-width: 650px) {
  /* line 36, ../sass/screen.sass */
  .title {
    font-size: 40px;
    letter-spacing: 1px;
    padding-top: 30px;
    z-index: 2;
  }
}

/* line 53, ../sass/screen.sass */
body {
  font-family: "Lato", sans-serif;
}

/* line 56, ../sass/screen.sass */
.title, nav, .post-title {
  font-family: "Pathway Gothic One", sans-serif;
}

@media (max-width: 650px) {
  /* line 60, ../sass/screen.sass */
  .unit .head-sub-unit {
    display: inline-block;
    margin-left: 3%;
    width: 22.05%;
  }
}

@media (max-width: 650px) {
  /* line 66, ../sass/screen.sass */
  .unit .head-unit {
    float: right;
  }
}

/* line 70, ../sass/screen.sass */
nav {
  color: #dd684d;
}

/* line 73, ../sass/screen.sass */
p {
  color: #75795f;
}

/* line 76, ../sass/screen.sass */
a {
  color: #dd684d;
  text-decoration: none;
}

/* line 80, ../sass/screen.sass */
a:hover {
  color: #cf4728;
  text-decoration: underline;
}

/* line 84, ../sass/screen.sass */
a.current-blog {
  color: #86857f;
}

/* line 87, ../sass/screen.sass */
a.current-blog:hover {
  color: #6c6b66;
  text-decoration: underline;
}

/* line 91, ../sass/screen.sass */
a.current-projects {
  color: #9a8170;
}

/* line 94, ../sass/screen.sass */
a.current-projects:hover {
  color: #7e6859;
  text-decoration: underline;
}

/* line 98, ../sass/screen.sass */
a.current-vine {
  color: #75795f;
}

/* line 101, ../sass/screen.sass */
a.current-vine:hover {
  color: #595c49;
  text-decoration: underline;
}

/* line 105, ../sass/screen.sass */
a.current-about {
  color: #507881;
}

/* line 108, ../sass/screen.sass */
a.current-about:hover {
  color: #3c5b62;
  text-decoration: underline;
}

/* line 112, ../sass/screen.sass */
.title a {
  color: #f7fe9c;
}

/* line 115, ../sass/screen.sass */
.title a:hover {
  color: #fafec4;
  text-decoration: none;
}

/* line 120, ../sass/screen.sass */
header li {
  text-align: center;
}

/* line 123, ../sass/screen.sass */
.title {
  color: #f7fe9c;
}

/* line 126, ../sass/screen.sass */
header {
  background: #fed965;
}

/* line 130, ../sass/screen.sass */
header nav {
  background: #f7fe9c;
}

/* line 133, ../sass/screen.sass */
h2.tag-line {
  color: #86857f;
  margin-bottom: 15px;
  line-height: 1;
  text-align: center;
}

/* line 139, ../sass/screen.sass */
h2.tag-line-border {
  margin-bottom: 40px;
}

/* line 143, ../sass/screen.sass */
header nav {
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  text-transform: uppercase;
}

/* line 150, ../sass/screen.sass */
.title span {
  letter-spacing: 10px;
}
@media (max-width: 830px) {
  /* line 150, ../sass/screen.sass */
  .title span {
    letter-spacing: 4px;
  }
}

/* line 157, ../sass/screen.sass */
.post-head .container {
  height: 50px;
}

/* line 163, ../sass/screen.sass */
.post-head h3, .post-head h4 {
  color: white;
  line-height: 50px;
  font-weight: 200;
}

/* line 168, ../sass/screen.sass */
.post-title {
  text-transform: capitalize;
  font-size: 30px;
}

/* line 173, ../sass/screen.sass */
.post-head h4 {
  font-weight: 300;
  text-align: center;
}

/* line 178, ../sass/screen.sass */
.vine-head .container {
  background: #75795f;
}

/* line 182, ../sass/screen.sass */
.blog-head .container {
  background: #86857f;
}

/* line 186, ../sass/screen.sass */
.projects-head .container {
  background: #9a8170;
}

/* line 190, ../sass/screen.sass */
.about-head .container {
  background: #507881;
}

/* line 193, ../sass/screen.sass */
.post-content {
  padding: 40px 0;
}

/* line 197, ../sass/screen.sass */
.post-content p {
  max-width: 900px;
}

/* line 204, ../sass/screen.sass */
.post-content .container {
  background: white;
}
